section {
  height: 40vh;
  position: relative;
  margin-top: -10px !important;
  height: 550px;
}
.background-image-banner{
  background-image: url("../../Assets/footer2.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;

}
/* .background-image-banner-2{
  /* background-image: url("../../Assets/footer3.jpg"); */
  /* background-repeat: no-repeat; */

.banner {
  background-image:url("../../Assets/footer1.png") ;
  background-position:  bottom left;
  background-size: contain ;
  margin-top: 0px , -20px;
  background-repeat: no-repeat, no-repeat;
  padding: 15px;
  z-index: 1;
}

.banner .circal-logo {
  position: absolute;
  top: 120px;
  left: 10%;
  z-index: -1;
  user-select: none;
  animation: up-to-down 2s infinite alternate;
}
.banner .plus-2-logo {
  position: absolute;
  right: 10%;
  bottom: 100px;
  user-select: none;
  z-index: -1;

  animation: rotate 12s infinite alternate;
}

@keyframes up-to-down{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-15px);
  }
}


@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.banner .container
{
  text-align: center;
  margin-top: 20px;
  z-index: 1;
}
.banner h2{
  color: #1f2278;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
  max-width: 100%;
  transition:  0.5s ease;
  margin-top: 140px;
}
.banner .banner-url ul
{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary-color);
}
.banner .banner-url li
{
  align-items: center;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin-right: 10px;
}
.banner .banner-url svg
{
  margin-left: -20px;
  color: white;
  font-size: 24px;

  margin-right: 10px;
}

.banner .banner-url a
{
  color: white;
  font-size: 16px;
  background-color: var(--secondary-color);
}
